* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #4065df, #c16df8);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  outline: none;
}

form input,
form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
}

form button {
  color: #c16df8;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #c16df8;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
}

.todo {
  list-style: none;
  color: black;
  background-color: #fff;
  display: flex;
  margin: 0.5rem;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  padding-left: 3%;
}

.complete-btn,
.trash-btn {
  font-size: 0.7rem;
  border: none;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

.complete-btn {
  background: rgb(59, 182, 59);
  color: white;
}

.trash-btn {
  background: rgb(228, 79, 79);
  color: white;
}

.complete-btn:hover {
  background: white;
  color: rgb(59, 182, 59);
}

.trash-btn:hover {
  background: white;
  color: rgb(228, 79, 79);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0.2;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #c16df8;
  width: 10rem;
  cursor: pointer;
  padding: 0.6rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #c16df8;
  top: 0;
  right: 0;
  padding: 0.6rem;
  pointer-events: none;
}
